.app {
  text-align: center;
  height: 100vh;
}

.app__header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: lightskyblue;
}

.app__chat {
  background: #f2f2f2;
  height: calc(100% - 60px);
}